<!DOCTYPE html>
<html>
<head>
  <title>Quippr - Make it Funny!</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Quippr</h1>
<h2>The art of unintelligent phrasing, defined.</h2>
<hr/>

<%= yield %>

<hr/>
<p>This footer (c) Footers Inc...  29032 - present</p>
</body>
</html>
